In [1]:
import pandas as pd

path_daily = 'bases_tratadas/daily_peak_transformers_dataset.csv'
df_daily = pd.read_csv(path_daily, sep=';', encoding='latin-1')

url_weather = "https://media.githubusercontent.com/media/ruanvirginio/masters/refs/heads/main/bases_tratadas/weather_dataset_2022-2024.csv"
df_weather = pd.read_csv(url_weather,  sep=';', encoding='latin-1')

In [2]:
df_weather

,DATA,temp_max,temp_min,temp_media,precipitacao_total,dia,mes,temp_max_anos,temp_min_anos,temp_media_anos,precipitacao_anos
0,2022-01-01,30.0,27.0,28.800000,0.0,1,1,28.666667,26.000000,27.286111,0.333333
1,2022-01-02,31.0,31.0,31.000000,0.0,2,1,29.000000,28.000000,28.500000,0.000000
2,2022-01-03,NaN,NaN,NaN,0.0,3,1,29.200000,27.000000,28.116667,0.000000
3,2022-01-04,31.0,27.0,29.000000,0.0,4,1,29.200000,28.000000,28.566667,0.166667
4,2022-01-05,31.0,25.0,28.000000,4.0,5,1,29.666667,25.666667,27.388889,0.666667
...,...,...,...,...,...,...,...,...,...,...,...
1091,2024-12-27,27.0,25.0,26.000000,2.0,27,12,29.000000,26.400000,27.600000,0.333333
1092,2024-12-28,NaN,NaN,NaN,0.0,28,12,27.600000,25.800000,26.550000,0.666667
1093,2024-12-29,31.0,26.0,28.200000,0.0,29,12,29.750000,27.500000,28.591667,0.333333
1094,2024-12-30,30.0,25.0,27.666667,0.0,30,12,29.000000,26.000000,27.444444,0.000000
1095,2024-12-31,26.0,26.0,26.000000,0.0,31,12,29.000000,25.200000,26.750000,0.333333